@page
@model PrivacyModel
@{
    ViewData["Title"] = "The Flying Saucer Website Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<p>The Flying Saucer respects the privacy and autonomy of all sentient beings. This site does not collect your data.
    This site does not use cookies. 
    This site only offers information about The Flying Saucer and its out-of-this world consumable foodstuffs.</p>
